.mainconteiner{
    width: 1440px;
    height: auto;
    display: flex;
    justify-content: space-between;
    background-color: #F8F8FB;
    
}
.mainLeft{
flex:1;

}
.mainCeft{
flex:2;
}
.mainRight{
flex: 1;
}